.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-family: 'Poppins';
}

.form_control label {
    margin-bottom: .6rem;
    font-weight: 600;
}

.form_control input {
    padding: .7rem;
    border-radius: 0;
    border: none;
}

.form_control input::placeholder {
    color: #7b7b7b;
}